<section>
  
<div class="flex justify-between items-center">
<div class="suggestion-form container w-full">
    <h4 class="title md:text-2xl xxs:text-xl font-bold text-[#070404ba] mt-6"> {{"home.contact" | translate}} </h4>
    <span class="text-[#665f5f] font-regular xxs:text-sm md:text-base">{{"home.contactNote" | translate}}</span>
<form class="flex justify-start items-center flex-col w-ful mt-6">
    <input type="text" pInputText placeholder="{{'auth.name' | translate}}" class="w-full mb-3 placeholder:text-sm" />
    <input type="text" pInputText placeholder="{{'auth.email' | translate}}" class="w-full mb-3 placeholder:text-sm" />
    <textarea rows="5" cols="30" pInputTextarea class="w-full mb-3 placeholder:text-sm" placeholder="{{'home.suggestion' | translate}}"></textarea>
    <div class="my-4 flex justify-center items-center w-full">
       
            <app-button text="{{'home.send' | translate}}"> </app-button>

        </div>
</form>
 </div>
 <div class="image" class="w-[80%] h-[30%] xxs:hidden sm:block">
 <img src="../../../../assets/images/suggestion2.jpg" class="w-full h-full object-fill" >
 </div>

        </div>
 
</section>
