<div class="login-form p-6 w-full rounded">
    <div class="my-5">
        <h2 class="my-1">{{'resetPassword.reset' | translate}}</h2>
        <span class="text-xs">{{'resetPassword.submitEmail' | translate}}</span>
    </div>
    
    <form class="flex justify-start flex-col w-full mt-6" [formGroup]="resetForm">
        <div class="mb-3 h-[60px]">
            <input formControlName="email" type="email" pInputText placeholder="{{'auth.email' | translate}}" class="w-full mb-1 placeholder:text-sm" />
             <span class="text-xs text-[#e54f4f] ps-[14px]" *ngIf="resetForm.get('email')?.hasError('required') && (resetForm.get('email')?.touched || submitted) "> {{"general.required" | translate}}</span>
             <span class="text-xs text-[#e54f4f] ps-[14px]" *ngIf="resetForm.get('email')?.hasError('pattern') && (resetForm.get('email')?.touched || submitted)"> {{"general.pattern" | translate}}</span>
            <span class="text-xs text-[#e54f4f] ps-[14px]" *ngIf="errorMessage"> {{errorMessage}}</span> 
        </div>
        <div class="my-4">
            <app-button text="{{'community.submit' | translate}}" (click)="submitForm()" [isLoading]="loading"></app-button>
        </div>
        </form>
  </div>
